.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d0e5f9;
  padding: 0 10px;
  width: 90%;
  margin: auto;
  word-break: keep-all;
  flex: 1;
  &:hover .delBtn {
    opacity: 1;
  }
}

/* .pht {
  take out the placeholder task
  display: none;
} */

.text {
  font-size: 1.5rem;
  flex: 1;
  font-family: var(--written);
  padding: 0 0 0 0.5em;
  line-height: 1;
  outline: none;
  border: none;
  color: rgb(0, 0, 111);

  &::placeholder {
    font-family: "Courier New", Courier, monospace;
    color: black;
    font-weight: 700;
  }
}

input[type="text"] {
  color: #00006f;
  margin-top: 3px;
}

.strike,
.faded {
  text-decoration: line-through;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.974);
}

.statusBox {
  font-size: 2rem;
  filter: sepia(100%);
  filter: hue-rotate(215deg);
  cursor: pointer;

  &:hover {
    filter: sepia(50%);
  }
}

.editBtn,
.delBtn,
.okBtn,
.plus {
  background: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.plus {
  margin-left: 1.5rem;
}

.editBtn {
  font-size: 1rem;
}

.delBtn {
  opacity: 0;
}

.okBtn {
  opacity: 1;
}

.plus:hover {
  filter: drop-shadow(1px 1px 0.5px gray);
}

.hide {
  display: none;
}

.red {
  font-size: 2rem;
  cursor: pointer;
  filter: hue-rotate(0);
}
